@font-face {
  font-family: "iconfont"; /* Project id 2508542 */
  src: url('./iconfont/iconfont.woff2?t=1620053631324') format('woff2'),
       url('./iconfont/iconfont.woff?t=1620053631324') format('woff'),
       url('./iconfont/iconfont.ttf?t=1620053631324') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e603";
}

.icon-jifen:before {
  content: "\e65e";
}

.icon-left:before {
  content: "\e615";
}

.icon-denglu:before {
  content: "\e67c";
}

.icon-xiangyou:before {
  content: "\e613";
}

.icon-gouwu:before {
  content: "\e60a";
}

.icon-xinfeng:before {
  content: "\e857";
}

.icon-huangguan:before {
  content: "\e638";
}

.icon-xuanzhong:before {
  content: "\e656";
}

.icon-customer:before {
  content: "\e69f";
}

.icon-dianpu:before {
  content: "\e70a";
}

.icon-kefu:before {
  content: "\e650";
}

.icon-fanhuijiantou-copy:before {
  content: "\e672";
}

.icon-xingxing:before {
  content: "\e628";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-wode:before {
  content: "\e617";
}

.icon-shouye:before {
  content: "\e60b";
}

